<% if !message.poster.blank? %>
    <% if message.user == current_user %>
        <div id="currentUserMessage" class="message">
            <div class="messageHeader">
              <p><span class="userAvatar"><%= image_tag message.user.avatar.thumb.url %></span><span class="username"><strong><%= message.poster %></strong></span>
                <span class="timeStamp"><%=message.created_at.strftime("%v, %r")%></span></p>
            </div>
            <div class="messageContent"><%=message.content%></div>
        </div>
    <% else %>
        <div id="otherUserMessage" class="message">
            <div class="messageHeader">
              <p><%= image_tag message.user.avatar.thumb.url %><span class="username"><strong><%= message.poster %></strong></span>
                <span class="timeStamp"><%=message.created_at.strftime("%v, %r")%></span></p>
            </div>
            <div class="messageContent"><%=message.content%></div>
        </div>
    <% end %>
<% else %>
    <div id="otherUserMessage" class="message">
        <div class="messageHeader"><p><strong>Gerbil</strong>
            <span class="timeStamp"><%=message.created_at.strftime("%v, %r")%></span></p>
        </div>
        <div class="messageContent"><%=message.content%></div>
    </div>
<% end %>
