<div class="message">
    <% if !message.user.nil? %>
        <div class="messageHeader"><p><strong><%= link_to User.find(message.user).username, user_path(message.user) %> </strong>
            <span class="timeStamp"><%=message.created_at.strftime("%I:%M %p")%></span></p>
        </div>
        <div class="messageContent"><%=message.content%></div>
    <% else %>
        <div class="messageHeader"><p><strong>Gerbil </strong>
            <span class="timeStamp"><%=message.created_at.strftime("%I:%M %p")%></span></p>
        </div>
        <div class="messageContent"><%=message.content%></div>
    <% end %>
</div>
