<div class="message" onClick="renderAllMessages()">
    <% if !message.user.nil? %>
        <div class="messageHeader"><p><strong><%= message.user.username %> </strong>
            <span class="timeStamp"><%=message.created_at.strftime("%I:%M %p")%></span></p>
        </div>
        <div class="messageContent"><%=message.content%></div>
    <% else %>
        <div class="messageHeader"><p><strong>Gerbil </strong>
            <span class="timeStamp"><%=message.created_at.strftime("%I:%M %p")%></span></p>
        </div>
        <div class="messageContent"><%=message.content%></div>
    <% end %>
</div>
