<% formID = "id" %>
<% if controller_name == "users" %>
    <% formID = "signUpForm" %>
<% elsif controller_name == "sessions" %>
    <% formID = "loginForm" %>
<% end %>
<div id="loginForm" class="basicForm">
    <span id="closeBtn1" class="closeBtn">&times;</span>
    <center><%=image_tag "logoNoLabel-green.png", :id=> "smallLogo"%></center>
    <h1 class="formTitle">login</h1>
    <center><p id="errorNotice" class="errorNotice"><%= notice %></p></center>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.text_field :username, :placeholder => 'Enter Username', id: 'username_area'%><br>
      <%= f.password_field :password, :placeholder => 'Enter Password', id: 'password_area' %><br>
      <center><%= f.submit "Log in", class: "submitButton", id: 'login_button' %></center>
    <% end %>

    <hr>
    <div id="option1" class="options">
        Want to create an account?<br>
        <%= button_to "Sign Up", "/signup", method: :get, id: "signUpBtn" , class: "submitButton" %>
    </div>
    <div id="option2" class="options">
        Don't want to create an account?<br>
        <%= submit_tag "Guest Login", id: "guestLoginBtn", class: "submitButton", :onclick => "showGuestLogin('#{formID}')" %>
    </div>
</div>
