<p id="notice"><%= notice %></p>

<h1>Private Chats</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Chatroom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @private_chats.each do |private_chat| %>
      <tr>
        <td><%= private_chat.user_id %></td>
        <td><%= private_chat.chatroom_id %></td>
        <td><%= link_to 'Show', private_chat %></td>
        <td><%= link_to 'Edit', edit_private_chat_path(private_chat) %></td>
        <td><%= link_to 'Destroy', private_chat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Private Chat', new_private_chat_path %>
