<% content_for :title, 'Chatrooms'%>

<div id="indexContainer">
    <h1>CHATROOMS</h1>
    <%= render partial: 'chatroom_form', locals: {chatroom: @chatroom} %>
    <!--
    <ol id="chatrooms">
        <%= render @chatrooms%>
    </ol>
    -->

    <br><h3>List of Current Chatrooms</h3>
    <table id="chatroomList" class="dataTable">
        <thead>
            <tr>
                <th>Chatroom</th>
                <th>Private</th>
                <th>Created at</th>
                <th>Last updated</th>
                <% if !current_user.nil? && current_user.userType == 'Admin' %>
                   <th>Destroy Chatroom</th>
                <% end %>
            </tr>
        </thead>
      <% @chatrooms.each do |room| %>
        <tr>
            <% if room.roomname.blank? %>
                <%room.roomname = chatroom_path(room)%>
            <%end%>
            <td><%= link_to room.roomname, room %></td>
            <% if !room.private_chatters.empty? %>
                <td>Yes</td>
            <% else %>
                <td>No</td>
            <%end%>
            <td><%= room.created_at.strftime("%v, %r") %></td>
            <td><%= room.messages.last.created_at.strftime("%v, %r") %></td>
            <% if !current_user.nil? && current_user.userType == 'Admin' %>
                <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
            <% end %>
      <% end %>
  </table>
</div>
