<div id="sidebar" class="sideNav">
    <a href="javascript:void(0)" id="closeBtn" onclick="closeNav()" class="closeBtn"><<</a>
    <a href="/">Home</a>
    <a href="/chatrooms">Chatrooms</a>
    <a href="/users">Users</a>
    <a href="/login">Login</a>
    <% if !current_user.nil? %>
        <%= link_to "Log out", logout_path, method: :delete %>
        <% end %>
    <% if !current_user.nil? %>
        <%= link_to @current_user.username, @current_user %>
    <% end %>
</div>
<div id="sideBarOpener" class="sideBarOpener">>></div>
<div id="container">
    <div id="header">
        <% if !@chatroom.roomname.blank? %>
            <h1><%= @chatroom.roomname %></h1>
        <% else %>
            <h1><%= chatroom_path(@chatroom) %></h1>
        <% end %>
    </div>

    <div id="messageContainer">
        <%= render partial: 'messages/message', collection: @chatroom.messages%>
    </div>


    <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
</div>



<!--
<p> &nbsp; ^Original &nbsp;</p>
<div id="messages">
  <% @chatroom.messages.each do |message| %>
    <%= render partial: 'messages/message', object: message %>
    <div id="message_edit">
      <%= render partial: 'messages/editmessage_form', object: message %>
    </div>
  <% end %>
</div>
-->
