<% if notification.message %>
  <% if notification.message.unread?(current_user) %>
  <div class="notificationMessage" style="background-color: #eee">
  <% else %>
    <div class="notificationMessage">
  <% end %>
  <span class="glyphicon glyphicon-comment"></span>
    <%= link_to notification.event, chatroom_path(notification.message.chatroom.id) %>
  <span class="timeStamp"> <%=local_time_ago(notification.created_at)%> </span>
    <% if notification.message.imagemessage.display.url == "THISISNOTANIMAGE"%>
      <ul><%=notification.message.user.username%>: <%=emojime(notification.message.content).html_safe%></ul>
    <%else%>
      <img src="<%=notification.message.imagemessage.display.url%>" style="max-width: 100%; padding:10px;">
    <%end%>
</div>
<% end %>
