  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
    <%= f.text_field :username, :placeholder => 'Enter Guest Username', required: true%>
    <%= f.hidden_field :userType, value: "Guest" %>
    <%= f.hidden_field :password_confirmation, value: "GuestPassword" %>
    <%= f.hidden_field :password, value: "GuestPassword" %>
    <center><%= f.submit "Login as Guest", class: "submitButton" %></center>
  <% end %>
  <!--<% if @user.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>-->
