<% content_for :title, @user.username+"'s Profile" %>
<center><p id="errorNotice"><%= @user.errors.full_messages.first if @user.errors.any? %></p></center>
<%= form_for(@user, :url => { :action => "update_password" }) do |f| %>
  <%= f.password_field :password, :placeholder => 'Enter New Password', id: 'password_area' %><br>
  <%= f.password_field :password_confirmation, :placeholder => 'Confirm New Password', id: 'password_confirmation_area'%><br>

  <center><%= f.submit "Change Password", class: "submitButton"%></center>
<% end %>


<%= link_to 'Back', @user %>
</div>
