<% content_for :title, 'Users' %>

<div id="usersContainer">
    <h1>USERS</h1>

    <div id="userDiv">
        <h3>List of Current Users</h3>
      <table class="dataTable">
        <thead>
          <tr>
            <th>Username</th>
            <th>Type</th>
            <th>Joined on</th>
            <% if !current_user.nil?%>
                <th>Add as Friend</th>
            <% end %>
            <% if !current_user.nil? && current_user.userType == 'Admin' %>
                <th>Destroy</th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @users.order("username").each do |user| %>
            <% if user.userType != 'Guest' %>
              <tr>
                <td><%= image_tag user.avatar.thumb.url%>&nbsp;&nbsp;<%=  link_to user.username, user, class: 'username' %></td>
                <td><%= user.userType %></td>
                <td><%= user.created_at.strftime("%v") %></td>
                <% if !current_user.nil? && current_user != user && !current_user.friends.where(id: user).exists?%>
                  <td><%= link_to "+ Add Friend", friendships_path(:friend_id => user), :method => :post %></td>
                <% elsif current_user == user %>
                  <td></td>
                <% elsif !current_user.nil? && current_user.friends.where(id: user).exists? %>
                  <td>Already Added</td>
                <% end %>
                <% if !current_user.nil? && current_user.userType == 'Admin' %>
                  <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

</div>
