<% @page_title = "UserAuth | Signup" %>
<h1>Sign Up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

<<<<<<< HEAD
      <%= f.label :type, "Type" %>
      <p> Type:</br> <%= f.select :userType, ['Regular','Admin'], :selected => 'Regular' %>
=======
      <%= f.label :userType, "User Type" %>
      <%= f.select :userType, ['Regular', 'Admin'], :selected => 'Regular' %>
>>>>>>> e5f087c678f9a8cd1ab561e3d73cfb11ff4a07d6

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>



<%= link_to 'Back', users_path %>
