<% content_for :title, @user.username+"'s Profile" %>

<div id="usersContainer">
<h1><span class="username"><%= @user.username %></span></h1>

<h3> User Type: </h3>
<center><%= @user.userType %></center><br>

<h3 style="text-align:left"><span class="username"><%= @user.username %></span> has joined these Chatrooms:</h3>
<% userRooms = Array.new(@user.chatrooms.size+1)%>
<% roomNum = 0 %>
<ol id="chatroomList">
    <% @user.chatrooms.each do |room| %>
      <% if room != userRooms[roomNum] %>
        <% roomNum += 1 %>
        <% userRooms[roomNum] = room %>
        <%= render room %>
        <% if !current_user.nil? && current_user.userType == 'Admin' %>
           <p>&nbsp;&nbsp; <%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %> </p>
        <% end %>
      <% end %>
    <% end %>
</ol>

<h3><span class="username"><%= @user.username %></span> has added these users as Friends:</h3>
<table id="friendList">
    <thead>
        <tr>
            <th>Friend</th>
            <th>Remove</th>
  <% @user.friendships.each do |friendship| %>
    <% if !friendship.friend_id.nil? %>
        <tr>
            <td> <%= link_to friendship.friend.username, friendship.friend %></td>
        <% if current_user == @user %>
            <td><%= link_to '&times;'.html_safe+' Remove Friend', friendship, method: :delete, data: { confirm: 'Are you sure?' }%> </td>
        <% end %>
    <% end %>
  <% end %>
</table><br>

<h3 style="text-align:left"><span class="username"><%= @user.username %></span> has been added by these Users:</h3>
<ol id="inversefriendList">
  <% @user.inverse_friends.each do |inverse_friend| %>
    <%= link_to inverse_friend.username, inverse_friend %>
  <% end %>
</ol>

<h3 style="text-align:left"><span class="username"><%= @user.username %></span>'s Private Chats:</h3>
<ol id="privateChatList">
  <% @user.private_chatrooms.each do |room| %>
    <%= render room %>
  <% end %>
</ol>

<%= image_tag @user.avatar.thumb.url %>

<p>&nbsp;</p>

<%= link_to 'Back', users_path %>
</div>
