<div id="usersContainer">
<h1><span class="username"><%= @user.username %></span></h1>

<h3> User Type: </h3>
<center><%= @user.userType %></center><br>

<h3 style="text-align:left"><span class="username"><%= @user.username %></span> has joined these Chatrooms:</h3>
<% userRooms = Array.new(@user.chatrooms.size+1)%>
<% roomNum = 0 %>
<ol id="chatroomList">
    <% @user.chatrooms.each do |room| %>
      <% if room != userRooms[roomNum] %>
        <% roomNum += 1 %>
        <% userRooms[roomNum] = room %>
        <%= render room %>
        <% if !current_user.nil? && current_user.userType == 'Admin' %>
           <p>&nbsp;&nbsp; <%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %> </p>
        <% end %>
      <% end %>
    <% end %>
</ol>

<h3 style="text-align:left"><span class="username"><%= @user.username %></span> has added these Acquaintances:</h3>
<ol id="friendList">
  <% @user.friendships.each do |friendship| %>
    <% if !friendship.friend_id.nil? %>
      <%= friendship.friend.username %>&nbsp;
      <% if current_user == @user %>
        &nbsp;<%= link_to 'Remove Acquaintance', friendship, method: :delete, data: { confirm: 'Are you sure?' }%>
      <% end %>
      <p></p>
    <% end %>
  <% end %>
</ol>

<h3 style="text-align:left"><span class="username"><%= @user.username %></span> has been added by these Users:</h3>
<ol id="inversefriendList">
  <% @user.inverse_friends.each do |inverse_friend| %>
    <%= inverse_friend.username %>
    <p></p>
  <% end %>
</ol>

<h3 style="text-align:left"><span class="username"><%= @user.username %></span>'s Private Chats:</h3>
<ol id="privateChatList">
  <% @user.private_chatrooms.each do |room| %>
    <%= render room %>
    <p></p>
  <% end %>
</ol>

<p>&nbsp;</p>

<%= link_to 'Back', users_path %>
</div>
