<% content_for :title, @user.username+"'s Profile" %>
<div id="usersContainer">
<div id="friendButtons" style="text-align: right">
    <% if @user != current_user && !current_user.friends.where(id: @user).exists?%>
        <%= button_to "+ Add Friend", friendships_path(:friend_id => @user), :method => :post, class: "submitButton" %>
    <% elsif @user != current_user && current_user.friends.where(id: @user).exists? %>
        <% current_user.friendships.each do |friendship| %>
            <% if !friendship.friend_id.nil? && friendship.friend.id == @user.id %>
                <%= button_to '&times;'.html_safe+' Remove Friend', friendship, method: :delete, class: "submitButton", data: { confirm: 'Are you sure you want to remove this friend?' } %>
            <% end %>
        <% end %>
    <% end %>
</div>
<center><%= image_tag @user.avatar.display.url %></center>
<%if current_user!=nil && @user==current_user%>
  <center><%= link_to 'Edit Avatar', edit_user_path(@user) %></center>
  <center><%= link_to 'Change Password', edit_password_user_path(@user) %></center>
<%end%>
<h1><span class="username"><%= @user.username %></span></h1>

<center><p class="errorNotice" color="green"><%= notice %></p></center>

<h3> User Type: </h3>
<center><%= @user.userType %></center><br>

<h3> Joined on: </h3>
<center><%= local_time_ago(@user.created_at) %></center><br>

<h3><span class="username"><%= @user.username %></span> has joined these Chatrooms:</h3>
<table id="chatroomList" class="dataTable">
    <thead>
        <tr>
            <th>Chatrooms</th>
            <th>Private</th>
            <% if !current_user.nil? && current_user.userType == 'Admin' %>
                <th>Destroy Chatroom</th>
            <% end %>
        </tr>
    </thead>
    <% userRooms = Array.new(@user.chatrooms.size+1)%>
    <% roomNum = 0 %>
    <% @individualChats = @user.chatrooms.uniq.sort_by(&:created_at) %>
    <% @individualChats.each do |room| %>
        <tr>
            <% if room != userRooms[roomNum] %>
                <% roomNum += 1 %>
                <% userRooms[roomNum] = room %>
                <% if room.roomname.blank? %>
                    <%room.roomname = chatroom_path(room)%>
                <%end%>
                <td><%= link_to room.roomname, room %></td>
                <% if !room.private_chatters.empty? %>
                    <td> Yes </td>
                <% else %>
                    <td> No </td>
                <% end %>
                <% if !current_user.nil? && current_user.userType == 'Admin' %>
                    <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
                <% end %>
            <% end %>
        </tr>
    <% end %>
</table><br>

<h3><span class="username"><%= @user.username %></span> has added these users as Friends:</h3>
<table id="friendList" class="dataTable">
    <thead>
        <tr>
            <th>Friends</th>
            <% if current_user == @user %>
                <th>Remove Friend</th>
            <% end %>
        </tr>
    </thead>
    <% @user.friendships.each do |friendship| %>
        <% if !friendship.friend_id.nil? %>
            <tr>
                <td> <%= link_to friendship.friend.username, friendship.friend %></td>
            <% if current_user == @user %>
                <td><%= link_to '&times;'.html_safe+' Remove Friend', friendship, method: :delete, data: { confirm: 'Are you sure you want to remove this friend?' }%> </td>
            <% end %>
            </tr>
        <% end %>
  <% end %>
</table><br>

<h3><span class="username"><%= @user.username %></span> has been added by these Users:</h3>
<table id="inversefriendList" class="dataTable">
    <thead>
        <tr>
            <th>Friends</th>
            <% if current_user == @user %>
                <th>Add as Friend</th>
            <% end %>
        </tr>
    </thead>
    <% @user.inverse_friends.each do |inverse_friend| %>
        <tr>
            <td><%= link_to inverse_friend.username, inverse_friend %> </td>
            <% if current_user == @user %>
                <% if !@user.friends.where(id: inverse_friend).exists? %>
                    <td><%= link_to "+ Add Friend", friendships_path(:friend_id => inverse_friend), :method => :post %></td>
                <% else %>
                    <td>Already Added</td>
                <% end %>
            <% end %>
        </tr>
    <% end %>
</table><br>

<% if @user.userType == 'Admin' && current_user == @user %>
  <h3>These Users are requesting Admin:</h3>
  <table id="adminrequestList" class="dataTable">
      <thead>
          <tr>
              <th>Users</th>
              <th>Accept Request</th>
          </tr>
      </thead>
      <% User.all.each do |user| %>
          <% if user.requesting_admin == true %>
              <tr>
                <td> <%= link_to user.username, user %> </td>
                <td><center><%= link_to 'Accept Request', edit_admin_user_path(user), remote: true %></center></td>
              </tr>
          <% end %>
    <% end %>
  </table><br>
<% end %>

<% if @user == current_user && @user.userType == 'Regular' &&  @user.requesting_admin != true %>
  <%= render partial: 'users/requestadminform', locals: {user: @user}%>
<% end %>

<div id="adminRequestForm" class="forms" style="display:none"></div>

<%= link_to 'Back', users_path %>
</div>
