<div id="usersContainer">
<h1><%= @user.username %></h1>

<h3> User Type: </h3>
<%= @user.userType %>

<h3> User has messages in: </h3>
<% userRooms = Array.new(@user.chatrooms.size+1)%>
<% roomNum = 0 %>
<% @user.chatrooms.each do |room| %>
  <% if room != userRooms[roomNum] %>
    <% roomNum += 1 %>
    <% userRooms[roomNum] = room %>
    <%= render room %>
    <% if !current_user.nil? && current_user.userType == 'Admin' %>
       <p>&nbsp;&nbsp; <%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %> </p>
    <% end %>
  <% end %>
<% end %>

<p>&nbsp;</p>

<%= link_to 'Back', users_path %>
</div>
