<!DOCTYPE html>
<html>
<head>
  <title>Erdos</title>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
</head>
<body onload="renderAllMessages()">

<% if params[:controller] == 'welcome'%>

<% else %>
    <div id="sidebar" class="sideNav">
        <a href="javascript:void(0)" id="closeBtn" class="closeBtn"><<</a>
        <% if !current_user.nil? %>
            <%= link_to @current_user.username, @current_user %>
        <% end %>
        <a href="/">Home</a>
        <a href="/chatrooms">Chatrooms</a>
        <a href="/users">Users</a>
        <% if current_user.nil? %>
            <a href="/login">Login</a>
        <% end %>
        <% if !current_user.nil? %>
            <%= link_to "Log out", logout_path, method: :delete %>
        <% end %>
    </div>

    <div id="sideBarOpener" class="sideBarOpener">>></div>
<% end %>

<% if params[:controller] == 'welcome'%>
    <%= yield %>
<% else %>
    <div id="container">
        <%= yield %>
    </div>
<% end %>
</body>
</html>
