<!DOCTYPE html>
<html>
<head>
  <title>Erdos</title>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <style>
      /*Styling placeholder text for input boxes*/
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          font-style: italic;
          letter-spacing: 2px;
      }
      ::-moz-placeholder { /* Firefox 19+ */
          font-style: italic;
          letter-spacing: 2px;
      }
      :-ms-input-placeholder { /* IE 10+ */
          font-style: italic;
          letter-spacing: 2px;
      }
      :-moz-placeholder { /* Firefox 18- */
          font-style: italic;
          letter-spacing: 2px;
      }
  </style>
</head>
<body>

<!--<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="active">
        <a href="/chatrooms"> Chatrooms</a>
      </li>
      <li class="active">
        <a href="/users"> Users</a>
      </li>
      <li class="active">
        <a href="/login"> Login</a>
      </li>
      <li class="active">
        <% if !current_user.nil? %>
          <%= link_to "Log out", logout_path, method: :delete %>
        <% end %>
      </li>
      <li class="active">
        <% if !current_user.nil? %>
          <%= link_to @current_user.username, @current_user %>
        <% end %>
      </li>
  </div>
</nav>-->

<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
</body>
</html>
