<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title)+" | erdos" : "erdos" %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/contrib/auto-render.min.js"></script>

  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
</head>
<body>
<% if params[:controller] == 'welcome' && params[:action] == 'index'%>

<% elsif params[:controller] == 'chatrooms' && params[:action] == 'show' %>
    <div id="sidebar" class="sideNav">
        <!--<a href="javascript:void(0)" id="closeBtn" onClick="closeSidebar()" class="closeBtn"><<</a>-->
        <div id="userHeader">
            <% if !current_user.nil? %>
              <span id="avatar"><%= image_tag @current_user.avatar.thumb.url %></span>
              <%= link_to @current_user.username, @current_user, class: 'username', id: 'currentUser' %>
            <% end %>
        </div>
        <!--<a href="/home">Home</a>-->
        <% if @chatroom.roomname.blank? %>
            <% @chatroom.roomname = chatroom_path(@chatroom) %>
        <% end %>
        <span id="sideHeader" style="font-size: 18px"><%= @chatroom.roomname %></span>
        <% if !@chatroom.private_chatters.empty? %>
            <span id="subHeader">Members:</span>
            <ul>
            <% @chatroom.private_chatters.each do |user| %>
                <li><%= link_to user.username, user, class: "username" %></li>
            <% end %>
            </ul>
        <% end %>
        <%= render partial: 'private_chats/form', locals: {private_chat: @private_chat, chatroom: @chatroom} %>
        <a href="/chatrooms">Chatrooms</a>
        <a href="/users">Users</a>
        <!--<span id="sideHeader" style="font-size: 18px; margin-top: 30px"><%= @current_user.username %>'s Chatrooms</span>
        <ul>
        <% @current_user.allChatrooms.each do |chatroom| %>
            <% if chatroom.roomname.blank? %>
                <%chatroom.roomname = chatroom_path(chatroom)%>
            <%end%>
            <li><%= link_to chatroom.roomname, chatroom, class: "username" %></li>
        <% end %>
        <li><a href="/chatrooms" class="username">View All Chatrooms</a></li>
        </ul>
        <a href="/users" style="margin-top: 30px">Users</a>-->
        <% if current_user.nil? %>
            <a href="/login">Login</a>
        <% end %>
        <% if !current_user.nil? %>
            <%= link_to "Log out", logout_path, method: :delete %>
        <% end %>
    </div>
    <div id="sideBarCloser" onClick="closeSidebar()" class="sideBarToggle"><<</div>
    <div id="sideBarOpener" onClick="openSidebar()" class="sideBarToggle">>></div>
<% else %>
    <div id="sidebar" class="sideNav">
        <!--<a href="javascript:void(0)" id="closeBtn" onClick="closeSidebar()" class="closeBtn"><<</a>-->
        <div id="userHeader">
            <% if !current_user.nil? %>
              <span id="avatar"><%= image_tag @current_user.avatar.thumb.url %></span>
              <%= link_to @current_user.username, @current_user, class: 'username' %>
            <% end %>
        </div>
        <a href="/chatrooms">Chatrooms</a>
        <a href="/users">Users</a>
        <!--<span id="sideHeader" style="font-size: 18px"><%= @current_user.username %>'s Chatrooms</span>
        <ul>
        <% @current_user.allChatrooms.each do |chatroom| %>
            <% if chatroom.roomname.blank? %>
                <%chatroom.roomname = chatroom_path(chatroom)%>
            <%end%>
            <li><%= link_to chatroom.roomname, chatroom, class: "username" %></li>
        <% end %>
        <li><a href="/chatrooms" class="username">View All Chatrooms</a></li>
        </ul>
        <a href="/users" style="margin-top: 30px">Users</a>-->
        <% if current_user.nil? %>
            <a href="/login">Login</a>
        <% end %>
        <% if !current_user.nil? %>
            <%= link_to "Log out", logout_path, method: :delete %>
        <% end %>
    </div>
    <div id="sideBarCloser" onClick="closeSidebar()" class="sideBarToggle"><<</div>
    <div id="sideBarOpener" onClick="openSidebar()" class="sideBarToggle">>></div>
<% end %>

<% if params[:controller] == 'welcome' && params[:action] == 'index'%>
    <%= yield %>
<%else%>
    <div id="container">
        <%= yield %>
    </div>
<% end %>
<%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
</body>
</html>
