<!DOCTYPE html>
<head>
    <title>Login | erdos</title>
    <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <style>
        /*Styling placeholder text for input boxes*/
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-style: italic;
            letter-spacing: 2px;
        }
        ::-moz-placeholder { /* Firefox 19+ */
            font-style: italic;
            letter-spacing: 2px;
        }
        :-ms-input-placeholder { /* IE 10+ */
            font-style: italic;
            letter-spacing: 2px;
        }
        :-moz-placeholder { /* Firefox 18- */
            font-style: italic;
            letter-spacing: 2px;
        }

        h1 {
            padding: 10px;
            margin: 0;
            text-align: center;
            font-family: 'Fira Sans', sans-serif;
            letter-spacing: 2px;
            font-size: 30px;
            color: #41b799;
        }

        body {
            background-color: #41b799;
            padding: 0px;
            margin: 0px;
            text-align: center;
        }

        .outer {
            display: table;
            position: absolute;
            height: 100%;
            width: 100%;
        }

        .middle {
            display: table-cell;
            vertical-align: middle;
        }

        .inner {
            margin-left: auto;
            margin-right: auto;
            width: 65%;
        }

        #smallLogo {
            height: 180px;
        }

        input[type=text], input[type=password] {
            padding: 10px;
            display: block;
            width: 60%;
            margin: 0 auto;
            border-radius: 0px;
            border: 1px solid #ddd;
            box-sizing: border-box;
            line-height: 2em;
        }

        .errorNotice {
            font-family: 'Fira Sans', sans-serif;
            color: red;
            font-style: italic;
            font-size: 15px;
        }

        .basicForm {
            margin: 30px 0 30px 0;
            background-color: #fff;
            text-align: left;
            padding: 10px 20px 10px 20px;
            border-radius: 5px;
            border: 2px solid #aaa;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
        }

        .submitButton {
            background-color: #eee;
            color: #444;
            border-radius: 0px;
            border: 1px solid #e1e1e1;
            cursor:pointer;
            width: 200px;
            padding: 12px 5px;
            margin: 8px 0;
        }

        .submitButton:hover {
            background-color: #444;
            color: #fff;
        }

        hr {
            border: 1px solid #ddd;
            width: 100%;
            margin: 10px 0 10px 0;
            text-align: center;
        }

        #guestLogin{
            display: none;
        }

        .closeBtn {
            font-size: 32px;
            cursor: pointer;
        }

        .options {
            display: inline-block;
            position: relative;
            width: 50%;
            text-align: center;
            margin: 0;
        }

        #option1 {
            float: left;
        }

        #option2 {
            float: right;
        }

    </style>
</head>
<body>
    <div class="outer">
    <div class="middle">
    <div class="inner">
        <% provide(:title, "Log in") %>
        <div id="loginForm" class="basicForm">
            <span id="closeBtn1" class="closeBtn">&times;</span>
            <center><%=image_tag "logoNoLabel-green.png", :id=> "smallLogo"%></center>
            <h1>login</h1>
            <%= form_for(:session, url: login_path) do |f| %>
              <center><p id="errorNotice" class="errorNotice"><%= notice %></p></center>
              <%= f.text_field :username, :placeholder => 'Enter Username', id: 'username_area'%><br>
              <%= f.password_field :password, :placeholder => 'Enter Password', id: 'password_area' %><br>
              <center><%= f.submit "Log in", class: "submitButton", id: 'login_button' %></center>
            <% end %>

            <hr>
            <div id="option1" class="options">
                Want to create an account?<br>
                <%= button_to "Sign Up", "/signup", method: :get, id: "signUpBtn" , class: "submitButton" %>
            </div>
            <div id="option2" class="options">
                Don't want to create an account?<br>
                <%= submit_tag "Guest Login", id: "guestLoginBtn", class: "submitButton", :onclick => "showGuestLogin()" %>
            </div>
        </div>

        <div id="guestLogin" class="basicForm">
            <span id="closeBtn2" class="closeBtn" onclick="closeGuestLogin()">&times;</span>
            <center><%=image_tag "logoNoLabel-green.png", :id=> "smallLogo"%></center>
            <h1>guest login</h1>
            <%= render partial: 'users/guestform'%>
            <hr>
            <div id="option1" class="options">
                Already have an account?<br>
                <%= submit_tag "Login", id: "loginBtn", class: "submitButton", :onclick => "closeGuestLogin()" %>
            </div>
            <div id="option2" class="options">
                Want to create an account?<br>
                <%= button_to "Sign Up", "/signup", method: :get, id: "signUpBtn" , class: "submitButton" %>
            </div>
        </div>

        <!--<%= link_to 'Back', users_path %>-->
    </div>
    </div>
    </div>

    <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
    <script>

    $(document).ready(function() {
        $("#closeBtn1").click(function(){
            window.location.href = "/";
        });
    });

    function showGuestLogin(){
        $("#loginForm").fadeOut("swing", function(){
            $("#guestLogin").fadeIn("swing");
        });
    };

    function closeGuestLogin(){
        $("#guestLogin").fadeOut("swing", function(){
            $("#loginForm").fadeIn("swing");
        });
    };

    </script>
</body>
</html>
